body{
    margin: 0;
    padding: 0;
    line-height: 0.5;
    background: #333333;

    

}

.class1{
    width: 300px;
    padding-top: 0px;
    padding-bottom: 50px;
    /* padding: 100px 0; */
    position: absolute;
    top: .1rem;
    left: 30%;
    transform: translate(50%, 50%);
    transition: 0.25x ;
    /* background-color: black; */
    color: white;
    /* align-items: center; */
    text-align: center;
    justify-content: center;

}
#display{
    border: none;
    background: white;
    border-radius:30px ;
    width: 245px;
    height: 30px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 300px;
    margin: auto;
    border: 2px solid white;
    color: black;
}
.btnDesign{
    width: 55px;
    height: 40px;
    padding-top: 1px;
    background-color: white;
    border: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 300px;
    border-radius: 70px;
    margin: 1.5px;
    cursor: pointer;

}
.operatorDesign{
    width: 55px;
    height: 40px;
    padding-top: 1px;
    background-color: white;
    border: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 300px;
    border-radius: 70px;
    margin: 1.5px;
     transition: 0.25px;
    cursor: pointer;
}

.operatorDesign:hover{
    background-color: rgb(245, 180, 180);
}
#zero{
    width: 100px;
    height: 40px;
    padding-top: 1px;
    border: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 300px;
    border-radius: 70px;
    margin: 1.5px;
    transition: 0.25px;
    cursor: pointer; 

}

h1{
    color: white;
   margin-top: 300px;
   margin-left: 100px;
   text-transform: uppercase;
   font-family: sans-serif;
   font-weight: 800px;
   font-size: 30px;
   text-decoration: underline;
}
h2{
    color: black;
   margin-top: -1px;
   margin-left: 200px;
   /* text-transform: uppercase; */
   font-family: sans-serif;
   font-weight: 400px;
   font-size: 15px;
   /* text-decoration: underline; */
}